<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Checker_v._3._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script></script>
</head>
<body>
    <header>
        @if (User.IsInRole("Administrator"))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Checker_v._3._0</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @{
                                var usersUrl = "https://" + Context.Request.Host + "/EntityObjects/User/List";
                                var coursesUrl = "https://" + Context.Request.Host + "/EntityObjects/Course/List";
                                var studentsGroupsUrl = "https://" + Context.Request.Host + "/EntityObjects/StudentsGroup/List";
                                var tasksUrl = "https://" + Context.Request.Host + "/EntityObjects/Task/List";
                                var testsUrl = "https://" + Context.Request.Host + "/EntityObjects/Test/List";
                                var resultsUrl = "https://" + Context.Request.Host + "/EntityObjects/StudentTaskTeacherResult/List";
                                var taskStatesUrl = "https://" + Context.Request.Host + "/EntityObjects/TaskState/List";
                                var testStatesUrl = "https://" + Context.Request.Host + "/EntityObjects/TestState/List";
                                var programmingLanguagesUrl = "https://" + Context.Request.Host + "/EntityObjects/ProgrammingLanguage/List";
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" href=@usersUrl>Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@coursesUrl">Курсы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@studentsGroupsUrl">Студ. группы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@tasksUrl">Задачи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@testsUrl">Тесты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@resultsUrl">Результаты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@taskStatesUrl">Состояния задач</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@testStatesUrl">Состояния тестов</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@programmingLanguagesUrl">Языки программирования</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Checker_v._3._0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    </body>
</html>
